*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: Roboto;
  font-size: 16px;
  background-color: #04161f;
  color: cornsilk;
}
.wrapper {
  min-height: 100%;
}
/* ====== */
._container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 50px 20px;
}
/* =================== */
.parallax {
  min-height: 100vh;
}
/* =================== */

.parallax__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax__container {
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.parallax__label {
  display: flex;
  align-items: center;
  color: #10493b;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 6px;
  margin: 0px 0px 25px 0px;
}
.parallax__label::before,
.parallax__label::after {
  content: "";
  flex: 0 0 60px;
  height: 2px;
  margin: 0 10px;
  background: #04161f;
}
.parallax__title {
  font-size: 78px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 8px;
  color: goldenrod;
}
.parallax__list-background {
  position: absolute;
  z-index: 1;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
}
.parallax-background {
}
.parallax-background__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax-background__clouds,
.parallax-background__mountains,
.parallax-background__forest,
.parallax-background__human {
  position: absolute;
  width: 100%;
  height: 100%;
}

.parallax-background__clouds {
  background: url("../image/parallax/clouds.jpg") top / cover no-repeat;
  top: 0;
  left: 0;
}
.parallax-background__mountains {
  background: url("../image/parallax/mountains.png") top / cover no-repeat;
  left: 0;
  top: 5%;
  z-index: 2;
}
.parallax-background__forest {
  background: url("../image/parallax/forest.png") top / cover no-repeat;
  right: 0;
  top: 0;
  z-index: 3;
}
.parallax-background__human {
  background: url("../image/parallax/human.png") top / cover no-repeat;
  max-width: 650px;
  max-height: 850px;
  right: 0;
  bottom: 2%;
  z-index: 4;

  @media (max-width: 991.98px) {
    max-width: 550px;
    max-height: 750px;
  }
  @media (max-width: 767.98px) {
    max-width: 450px;
    max-height: 650px;
  }
  @media (max-width: 479.98px) {
    max-width: 350px;
    max-height: 550px;
  }
}
.gallary {
  background-color: #0b1d26;
  position: relative;
  z-index: 2;
}
.gallary::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  transform: translate(0px, -100%);
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 5%, #0b1d26 100%);
}
.gallary__container {
  /* display: grid;
	grid-template-areas:
	"text"
	"foto"; */
}
.gallary__text-content {
  padding: 10px;
}
.content-text {
}
.content-text__title {
  position: relative;
  font-size: 36px;
  margin: 0px 0px 10px 0px;
  line-height: 1.28;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: goldenrod;
}
.content-text__title::before {
  // display: block;
  // flex: 0 0 80px;
  display: grid;
  content: "";
  height: 2px;
  margin: 0px 0px 10px 0px;
  background: goldenrod;
  // position: absolute;
  top: 0;
  left: 0;
  // transform: translate(-50%, -50%);
}
.gallary__title {
  font-size: 24px;
  margin: 0px 0px 10px 0px;
  line-height: 1.28;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 10px 0px 10px 0px;
  color: goldenrod;
}
.content-text__text {
  font-size: 16px;
  line-height: 1.2;
  margin: 0px 0px 15px 0px;
}

/* ========================================= */
.gallary__foto-content {
  /* grid-area: foto; */
  padding: 10px;
}
.content-foto {
  display: grid;
  grid-auto-flow: column;
}
.content-foto__list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.content-foto__item {
  grid-auto-columns: repeat(1fr / 1fr minmax(250px, 1fr) minmax(250px, 1fr));
}
@media (min-width: 800px) {
  .content-foto__item-big {
    grid-column: span 2;
    grid-row: span 2;
  }
}
.content-foto__item img {
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer============= */
.footer {
  position: relative;
  z-index: 2;
  background: #0b1d26;
}
.footer-container {
}
._container {
}
.footer-copy__text {
}
.footer-text {
}
